#container {
    width: 90%;
    height: 100%;
    margin: auto;
}

#hero {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 98% !important;
    height: 200px;
    border: 1px solid #cccccc;
    overflow: auto;
    padding: 20px;
}

.defaultcontainer {
    background-color: #ffffff;
    padding: 20px;
    float: left;
    margin: 10px;
    width: 25% !important;
    border: 1px solid #cccccc;
    height: 250px;
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-family: Helvetica-Bold;
}

img {
    margin: auto;
    height: 100px;
    width: 100px;
}

button {
    width: 30px;
    height: 10px;
}

#herodefaults {
    float: left;
    width: 22% !important;
    border: 1px solid #cccccc;
    height: 200px;
    margin: 10px;
    text-align: center;
    color: #333333;
    opacity: 100%;
    font-size: 16px;
    font-family: Helvetica-Bold;
}

#defaultDiv {
    width: 100% !important;
    height: 200px;
    border: 1px solid #cccccc;
    overflow: auto;
}

#hiddenid {
    visibility: hidden;
}

.descript {
    width: auto;
    color: #333333 100%;
    opacity: 100%;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: bold;
}

#priceFont {
    color: #333333 100%;
    opacity: 100%;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
}

.mainButton {
    background-color: #ffffff;
    height: 44px;
    width: 100%;
    margin: auto;
    color: #0471Af
}

.heroButton {
    background-color: #338700;
    height: 44px;
    width: 100%;
    color: #ffffff
}

#heroRight {
    float: right;
    width: 25%;
    height: 100%;
    display: block;
}

#heroProd {
    float: left;
    width: 25%;
    color: #333333 100%;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: bold;
}

#priceRemo {
    float: left;
    width: 25%;
    color: #333333 100%;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: bold;
}